<html>
 <html lang="ja">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCampBackendNew</title>
  <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="reload">
 </head>

<body>
  <h1>"ようこそ"<storong>Bookers</storong>"へ！"</h1>
  
  <p><storong>Bookers</storong>
  "では、さまざまな書籍に関するあなたの意見や"
  
  </p>
  <p>印象を共有し交換することができます</p>
  
  <p><a href="/books">start</a></p>
 </body>
</html>